<div style="margin: 20px 40px;">
  <h5><strong>Room Number: 123</strong></h5>
</div>

<div align=center>
  <h1><strong>Room Services Available</strong></h1>
  <div class="row justify-content-center">
    <div class="col-2 roomServices" routerLink="/orderFood" routerLinkActive="active">
      <img src="https://cdn.discordapp.com/attachments/540827604706525184/541529301972025344/stock-photo-assorted-chinese-food-set-chinese-noodles-fried-rice-dumplings-peking-duck-dim-sum-sprin.jpg">
      <legend>Order Food</legend>
    </div>
    <div class="col-2 roomServices" routerLink="/supplyRestock" routerLinkActive="active">
      <img src="https://cdn.discordapp.com/attachments/540827604706525184/541529339364376576/slide-3.jpg">
      <legend>Supplies Restock</legend>
    </div>
    <div class="col-2 roomServices" routerLink="/ride" routerLinkActive="active">
      <img src="https://cdn.discordapp.com/attachments/540827604706525184/541529364203044874/rikkis-taxi-by-laws-regulate-featured.jpg">
      <legend>Request Ride</legend>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-2 roomServices" routerLink="/otherServices" routerLinkActive="active">
      <img src="https://cdn.discordapp.com/attachments/540827604706525184/541530249608036352/ring-bell-for-service.jpg">
      <legend>Others</legend>
    </div>
  </div>
</div>