<h1>Hotel Facilities</h1>
<div class="facility1">
  <img src="https://cdn.discordapp.com/attachments/540827604706525184/541528137515925513/in-ground-pools.jpg">
  <div class="description">
    <h2><b>Swimming Pool</b></h2>
    <br>
    <p>Enjoy our luxurious swimming pool@ Level 1!</p>
    <p>Open: 7am - 6pm</p>
    <p><b>$5 Per Entry (Drinks Included)</b></p>
    <h6><b>*Visit counter for more info</b></h6>
  </div>
</div>

<div class="facility2">
  <img src="https://media.discordapp.net/attachments/540827604706525184/541534445530775552/kata_rocks_fitness_centre-1446x964.jpg?width=960&height=640">
  <div class="description2">
    <h2><b>Gym Center</b></h2>
    <br>
    <p>Enjoy our gym center@ Level 3!</p>
    <p>Open: 7am - 12am</p>
    <p><b>$3 Per Entry (Towels Included)</b></p>
    <h6><b>*Visit counter for more info</b></h6>
  </div>
</div>