<div style="margin-top: 20px;" align=center>
  <h1><strong>Supply Restock</strong></h1>
</div>
<div class="supply1">
  <h5><b>Bath Towels</b></h5>
  <img src="https://cdn.discordapp.com/attachments/542722509750009917/542755328870318096/91lQp7FvCcL._SX425_.jpg">
  <br>
  <br>
  <div style="margin-left:60px;">
    <label>Quantity:</label>
    <select>
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
  </div>
</div>
<div class="supply2">
  <h5><b>Toothbrushes</b></h5>
  <img src="https://cdn.discordapp.com/attachments/542722509750009917/542759703655088160/tooth-brushes.jpg">
  <br>
  <br>
  <div style="margin-left:60px;">
    <label>Quantity:</label>
    <select>
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
  </div>
</div>
<div class="supply3">
  <h5><b>Bath Soaps</b></h5>
  <img src="https://cdn.discordapp.com/attachments/542722509750009917/542760286822596620/f0ede17ba3c421daaba622e697679730.jpg">
  <br>
  <br>
  <div style="margin-left:60px;">
    <label>Quantity:</label>
    <select>
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
  </div>
</div>

<div class="box">
  <h4>Other Supplies:</h4>
  <textarea style="width: 80%; height: 40%" rows="10"></textarea>
</div>

<button class="btn submitbtn">Submit</button>