img {
    border-style: solid;
    border-width: 1px;
}

.carousel1{
    width: 100%;
    z-index: -1;
    /* position: absolute;
    left: 380px;
    top: 440px;
    margin-bottom: 50px; */
}
.checkin{
    position: absolute;
    width:200px;
    top: 24px;
}

.checkout{
    position: absolute;
    width:200px;
    top: 24px;
}

.checkoutForm{
    width:200px;
    position: absolute;
    left: 210px;
}

.checkInOut{
    position: absolute;
    left: 272px;
    top: 300px;
    border-style: hidden;
    height: 80px;
    width: 1000px;
    background-color: #9a2e2e;
    box-shadow: 2px 2px 10px grey;
}

.findbtn {
    background-color: #343a40;
    height: 40px;
    width: 90px;
    position: absolute;
    top: 24px;
    left: 900px;
    color: white;
}

.peopleForm{
    position: absolute;
    top: 19px;
    left: 480px;
}

label {
    color: white;
}
