<div class="row" style="margin: 15px;">
  <div class="col" align=left>
    <h2><strong>Manage My Account</strong></h2>
  </div>
  <div class="col" align=right>
    <button class="btn btn-danger">
      <h5>De-Activate My Account</h5>
    </button>
  </div>
</div>

<div class="area1">
  <div class="box1" *ngFor="let accInfo of accInfos" accInfos>
    <h5>Account Info</h5>
    <div style="padding: 5px 8px 0px;">
      <p>Email: <span>{{ accInfo.email }}</span></p>
      <p>Username: <span>{{ accInfo.username }}</span></p>
      <p>Password: <span>********</span></p>
    </div>
    <button class="btn btn-danger">Edit Account Info</button>
  </div>
  <div class="box1">
    <h5>Payment Info</h5>
    <div style="padding: 5px 8px 0px;">
      <p>Credit Card Holder Name: <span>Liew Khye Chun</span></p>
      <p>Credit Card Number: <span>5264-XXXX-XXXX-XXXX</span></p>
      <p>Expiration Date: <span>12 / 2025</span></p>
      <p>CVC/CVV Number: <span>123</span></p>
    </div>
    <button class="btn btn-danger">Edit Payment Info</button>
  </div>
  <div class="box1">
    <h5>Personal Info</h5>
    <div style="padding: 5px 8px 0px;">
      <p>First Name: <span>Liew</span></p>
      <p>Last Name: <span>Khye Chun</span></p>
      <p>Mobile Number: <span>995</span></p>
      <p>Home Number: <span>999</span></p>
      <p>Street Address: <span>Coding Road</span></p>
      <p>Block No.: <span>93</span></p>
      <p>Unit No: <span>#13-23</span></p>
      <p>Postal Code: <span>436383</span></p>
      <p>Country: <span>Singapore</span></p>
    </div>
    <button class="btn btn-danger">Edit Personal Info</button>
  </div>
</div>

<div class="area2">
  <div class="box2">
    <h5>Booking(s)</h5>
    <div class="row bookUnit">
      <div class="col-1">
        <p>1.</p>
      </div>
      <div class="col-8">
        <p>Booking ID: </p>
      </div>
      <div class="col-3">
        <button class="btn btn-danger">View Details</button>
      </div>
    </div>
  </div>
  <div class="box2">
    <h5>Room Service(s)</h5>
    <div class="row">
      <div class="col-8" style="padding-left: 30px;">
        <p><strong>Request</strong></p>
      </div>
      <div class="col-4" style="padding-left: 30px;">
        <p><strong>Status</strong></p>
      </div>
    </div>
    <div class="row">
      <div class="col-8" style="padding-left: 30px;">
        <p>Food Order</p>
      </div>
      <div class="col-4" style="padding-left: 30px;">
        <p>Pending</p>
      </div>
    </div>
  </div>