<div style="width: 30%; margin: 50px auto 100px;" align=center>
  <div style="border: 5px solid rgb(160,46,46); padding-bottom: 30px;">
    <div class="loginBox">
      <legend style="margin: 30px 0px;">Welcome to Delonix Regia!<br><span>Register Now!</span></legend>

      <form>
        <div style="margin: 0px 0px 40px;">
          <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Username">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="" placeholder="Password (Min. 8 Characters)">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="" placeholder="
Confirm Password">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="" placeholder="
E-Mail Address">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">SIGNUP</button>
      </form>
    </div>
  </div>
</div>