<div style="width: 30%; margin: 50px auto 100px; background-color: #f2F2F2;" align=center>
  <div style="border: 5px solid rgb(160,46,46); padding-bottom: 30px;">
    <div class="loginBox">
      <legend style="margin: 30px 0px;">Welcome to Delonix Regia!<br><span>Register Now!</span></legend>

      <form  [formGroup]="registerForm">
        <div style="margin: 0px 0px 40px;">
          <div class="form-group">
            <input type="text" class="form-control"  formControlName="usenameR" placeholder="Username">
          </div>
          <div class="form-group">
            <input type="password" class="form-control"  formControlName="passwordR" placeholder="Password (Min. 8 Characters)">
          </div>
          <div class="form-group">
            <input type="password" class="form-control"  formControlName="rePasswordR" placeholder="
Confirm Password">
          </div>
          <div class="form-group">
            <input type="email" class="form-control"  formControlName="emailR" placeholder="
E-Mail Address">
          </div>
        </div>
        <button type="submit" class="btn btn-primary" routerLink="/login" routerLinkActive="active">SIGNUP</button>
      </form>
    </div>
  </div>
</div>