img {
    border-radius: 15px;
    width: 250px;
    border: solid;
    border-width: 3px;
    border-color: #9a2e2e;
}

h5{
    position: relative;
    left: 50px;
}

.food1 {
    position: relative;
    top: 20px;
    left: 310px;
}

.food2 {
    position: absolute;
    top: 356px;
    left: 610px; 
}

.food3 {
    position: absolute;
    top: 356px;
    left: 910px;
}

.quantity {
    position: relative;
    left: 60px;
}

.addbtn1{
    position: relative;
    top: -2px;  
    left: 8px;
    width: 80px;
    height: 35px;
    color: white;
    background-color: #9a2e2e;
}

.box {
    position: absolute;
    left: 300px;
    top: 747px;
    width: 50%;
    height: 20%;
    margin: 40px auto;
}
.orderbtn{
    position: absolute;
    top: 814px;
    left: 965px;
    width: 200px;
    height: 70px;
    font-size: 150%;
    color: white;
    background-color: #9a2e2e;
}