<div style="margin-top: 20px;" align=center>
  <h1><strong>Order Your Food</strong></h1>
</div>
<div class="food1">
  <h5><b>Pepperoni Pizza</b></h5>
  <img src="https://cdn.discordapp.com/attachments/537147750287015948/542233137405755402/rsz_1boston-pizza-table-and-chairs.jpg">
  <br>
  <br>
  <div class="quantity">
    <label for="quantity">Quantity:&nbsp;</label>
    <select name="Quantity">
      <option selected>0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
    <button class="btn addbtn1">ADD</button>
  </div>
</div>

<div class="food2">
  <h5 style="padding-left: 19px;"><b>Nasi Lemak</b></h5>
  <img src="https://cdn.discordapp.com/attachments/537147750287015948/542232041954213892/640x478_ac.jpg">
  <br>
  <br>
  <div class="quantity">
    <label for="quantity">Quantity:&nbsp;</label>
    <select name="Quantity">
      <option selected>0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
    <button class="btn addbtn1">ADD</button>
  </div>
</div>